# Compiled binaries
/bin/

# Crystal dependencies (installed via shards)
/lib/

# Shard lock file (some prefer to commit this, some don't)
# Uncomment the next line if you want to exclude it:
# /shard.lock
inventory.ini
/spec/tmp/
